<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=Cp1252" />
<script src="../dbdoc.js" type="text/javascript"></script>
<link href="../dbdoc.css" type="text/css" rel="stylesheet">
</head>
<body id="bottom_left">
<h2>Vistas
<div id="search"><input type="text" onkeyup="$d_Find('narrow',this.value,'a')"/></div></h2><div id="narrow"><a href ="BASIC_BOOK_INFO.html" target="ObjectDetailsFrame">BASIC_BOOK_INFO</a>
<a href ="BASIC_LENDING_INFO.html" target="ObjectDetailsFrame">BASIC_LENDING_INFO</a>
<a href ="BASIC_PENALTY_INFO.html" target="ObjectDetailsFrame">BASIC_PENALTY_INFO</a>
<a href ="BASIC_USER_INFO.html" target="ObjectDetailsFrame">BASIC_USER_INFO</a>
<a href ="USER_PENALTY_INFO.html" target="ObjectDetailsFrame">USER_PENALTY_INFO</a>

</div></body> </html>